.col-md-4.col-border-padding
  .thumbnail
    a(href="/ppt-museum/slide/#{slide.id}")
      img.img-responsive(src="/ppt-museum/resource/thumbnail/#{slide.id}")
    div
      // Play button
      a.btn.btn-primary.btn-xs.btn-slide-controller(href="/ppt-museum/slide/#{slide.id}", role="button")
        span.glyphicon.glyphicon-play Play
      // Edit button
      button#edit-menu.btn.btn-success.btn-xs.btn-slide-controller(type="button", data-toggle="modal", data-target="#edit-modal", data-id="#{slide.id}", data-title="#{slide.title}", data-description="#{slide.description}", data-tags="#{slide.getTagsToString()}")
        span.glyphicon.glyphicon-edit Edit
      // Download button
      span.btn-group
        button.btn.btn-info.btn-xs.dropdown-toggle.btn-slide-controller(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
          span.glyphicon.glyphicon-download-alt Download
          span.caret
        ul.dropdown-menu
          li(style="background-color: rgba(128,128,128,0.7);")
            a(href="/ppt-museum/resource/pdf/#{slide.id}", download="#{slide.title}.pdf")
              span.glyphicon.glyphicon-file  PDF
          if slide.powerpointResource
            li
              a(href="/ppt-museum/resource/powerpoint/#{slide.id}", download="#{slide.title}.pptx")
                span.glyphicon.glyphicon-list-alt  PowerPoint
      // Delete button
      button.btn.btn-danger.btn-xs.btn-slide-controller(id="remove-slide-#{slide.id}", type="button", data-id="#{slide.id}", data-toggle="confirmation")
        span.glyphicon.glyphicon-remove Delete
    .caption
      h3
        a(href="/ppt-museum/slide/#{slide.id}") #{slide.title}
    div
      dl(style="width: 100%")
        dt Description:
        dd.slide-caption-description
          small #{slide.description}
        dt Keywords:
        dd.slide-caption-keywords
          each key in slide.tags
            a(href="/ppt-museum/keywords/#{key}") #{key}
            ,
        dt Uploaded_at:
        dd.slide-caption-uploded
          small #{slide.getTime()}
