.col-md-4.portfolio-item.col-border-padding
  a(href="/ppt-museum/slide/#{slide.id}")
    img.img-responsive(src="/ppt-museum/thumbnail/#{slide.id}")
  h3
    a(href="/ppt-museum/slide/#{slide.id}") #{slide.title}
    small.text-muted - #{slide.getTime()}
    button.btn.btn-danger(id="remove-slide-#{slide.id}", type="button", data-id="#{slide.id}")
      span.glyphicon.glyphicon-remove
  p #{slide.description}
