extends ./layout

block content
  each tmp in helper.eachSlice(slides, 3)
    .row.row-relative
      each slide in tmp
        include content

  .row.text-center
    .col-lg-12
      if helper.getCeilSize() > 1
        ul.pagination
          if index - 1 > 0
            li.page-item
              a.page-link(href="/ppt-museum/slides/#{index-1}") &laquo;
          else
            li.page-item.disabled
              a.page-link &laquo;

          each i in helper.getPagination()
            li.page-item(class="#{i == index ? 'active' : '#'}")
              a.page-link(href="/ppt-museum/slides/#{i}") #{i}

          if index != helper.getCeilSize()
            li.page-item
              a.page-link(href="/ppt-museum/slides/#{index+1}") &raquo;
          else
            li.page-item.disabled
              a.page-link &raquo;
